:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-title: #2e2f42;
  --text: #434455;
  --logotipe-blu: #4d5ae5;
  --logotipe-blac: #2e2f42;
  --botton: #4d5ae5;
  --background-bottom: #f4f4fd;
  --bottom-hover: #ffffff;
  --background-bottom-hover: #404bbf;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.body {
  font-family: 'Roboto', sans-serif;
}
button {
  color: var(--botton, #4d5ae5);
  background: var(--background-bottom, #f4f4fd);
}
button:hover {
  color: var(--bottom-hover, #fff);
  background: var(--background-bottom-hover, #404bbf);
}
/*============ COMPONENTS ============ */
.title-none {
  display: none;
}
.logotipe {
  color: var(--logotipe-blu, #4d5ae5);
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
span.ingredient {
  color: var(--logotipe-blac, #2e2f42);
}
.desc {
  color: var(--text, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.main-title {
  color: var(--main-title, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.button-hero {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 4px;
}
