:roote {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --heading-menu: #2e2f42;
  --main-title: #2e2f42;
  --title: #ffffff;
  --bottom: #ffffff;
  --text: #434455;
  --contact: #434455;
  --header-item: #434455;
  --footer-text: #f4f4fd;
  --logotipe-blu: #4d5ae5;
  --logotipe-blac: #2e2f42;
  --background-header: #ffffff;
  --background-hero: #2e2f42;
  --background: #fff;
  --background-team: #f4f4fd;
  --background-footer: #2e2f42;
  --background-bottom: #4d5ae5;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  color: var(--main-title);
  font-family: 'Roboto', sans-serif;
}
button {
  color: var(--bottom, #ffffff);
  background: var(--background-bottom, #4d5ae5);
}
/*============ COMPONENTS ============ */
.logotipe {
  color: var(--logotipe-blu, #4d5ae5);
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
span.ingredient {
  color: var(--logotipe-blac, #2e2f42);
}
.main-title {
  color: var(--main-title, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.desc {
  color: var(--text, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/*============ Heder ============ */
.menu-link {
  color: var(--heading-menu, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.contact-email {
  color: var(--slate, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.contact-fhone-number {
  color: var(--contact, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/*============ Hero ============ */
.title-hero {
  color: var(--title, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.77;
  letter-spacing: 1.12px;
}
.button-hero {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/*============ Info ============*/
.title-none {
  display: none;
}
/*============ Wat are we doing ============*/
.main-title-doing {
  color: var(--main-title, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
